# R / Quarto
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.quarto/
_freeze/
_site/

# OS artifacts
.DS_Store
Thumbs.db

# Generated dashboards / reports
*.html
*.nb.html

# Data caches / temp
outputs/*.tmp
outputs/*.bak
## lib
dashboard_files/
